dir: local
        path /var/lib/vz
        content iso, vztmpl,backup


drbd: proxmox-storage
    content images, rootdir
    controller {{ controller_1 }} , {{ controller_2 }}
    resourcegroup proxmox-storage